.oneSecond-main-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-left: 10%;
}

.oneSecond-image {
    /* border: 1px solid black; */
    width: 150px;
    height: 140px;
}

.oneSecond-name {
    /* border: 1px solid black; */
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
}

.oneSecond-restaurant {
    margin-top: 20px;
    width: 100%;
}

.fork-icon {
    width: 30px;
    margin-top: 10px;
    margin-left: 100%;
}