.layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 5% 1fr 10% ;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.layout * {
  /* border: 1px solid black; */
}

header {
  width: 100vw;
  border: 1px solid black;
  background: lightblue;
}

main {
  height: fit-content;
  width: 100vw;
  /* border: 1px solid red; */
}

footer {
  height: 5vh;
  width: 100vw;
  background: lightblue;
  border-top: 1px solid lightgray;
}