.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout * {
  /* border: 1px solid black; */
}

header {
  height: 50px;
  width: 100vw;
  border: 1px solid black;
  background: lightblue;
}

main {
  min-height: calc(100vh - 100px);
  width: 100vw;
  /* border: 1px solid red; */
}

footer {
  height: 50px;
  width: 100vw;
  background: lightblue;
  border-top: 1px solid lightgray;
}